@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Roboto+Mono&display=swap");

.highlight {
  font-family: "Grape Nuts", cursive;
  font-size: 3.2rem;
  font-weight: bold;
  text-shadow: black 1px 0 35px;
  color: var(--color-brand-5);
}

@media (max-width: 1200px) {
  * {
    font-size: 1.4rem;
  }

  .highlight {
    font-size: 2.4rem;
  }
}

@media (max-width: 600px) {
  * {
    font-size: 1.2rem;
  }

  .highlight {
    font-size: 2rem;
  }
}
